<div class="panel panel-default">

	<!-- Default panel contents -->
	<div class="panel-heading">
		<!-- <h3 class="panel-title">Users ({{users.length}})</h3> -->
		<a id="user-badge">Users <span class="badge">{{users.length}}</span></a>
	</div>


	<!-- Panel -->
	<div class="panel-body">
		<form>
			<p>
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<a>Add new user</a>
			</p>

			<div class="row">
				<!-- First Name -->
				<div class="col-md-3">
					<div class="form-group"><input type="text" class="form-control" placeholder="First Name" ng-model="firstName"></div>
				</div>

				<!-- Last Name -->
				<div class="col-md-3">
					<div class="form-group"><input type="text" class="form-control" placeholder="Last Name" ng-model="lastName"></div>
				</div>

				<!-- Email Name -->
				<div class="col-md-3">
					<div class="form-group"><input type="text" class="form-control" placeholder="Email" ng-model="email"></div>
				</div>

				<!-- Submit Button -->
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" ng-click="addUserHandler()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add User
					</button>
				</div>
			</div>
		</form>
	</div>


	<!-- Table -->
	<table class="table table-striped table-hover">
		<thead class="thead-inverse">
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.id}}</td>
				<td>{{user.firstname}}</td>
				<td>{{user.lastname}}</td>
				<td>{{user.email}}</td>
			</tr>
		</tbody>
	</table>

</div>
